# Node / Dependencies
node_modules/
**/node_modules/

# Build Outputs
dist/
functions/lib/

# Local Environment and secrets
.env
.env.*
**/.env
**/.env.*
*.json
!firebase.json
!firestore.indexes.json
!package.json
!package-lock.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
firebase-debug.log
